* {
    padding: 0;
    margin: 0;
}

.about-containor {
    /* border: 0.1px solid black; */
    height: auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10%;
}

.about-containor .about-nav {
    /* border: 0.1px solid red; */
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-image: url("../../../public/bg\ 7.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-containor .about-nav span {
    /* border: 0.1px solid red; */
    backdrop-filter: blur(20px);
    font-size: 2rem;
    padding: 5px;
    color: rgb(205, 159, 90);
    font-weight: 500;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.277);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.about-containor .about-nav p {
    /* border: 0.1px solid red; */
    font-size: 1.2rem;
    padding: 5px;
    color: slategray;
    font-family: cursive;
    backdrop-filter: blur(20px);
}

.about-containor .about-details {
    display: flex;
    flex-direction: row;
    /* border: 1px solid green; */
    justify-content: space-evenly;
}

.about-containor .about-details .label-img img {
    width: auto;
    height: 350px;
    border-radius: 5px;
    padding: 5px;
    mix-blend-mode: multiply;
}

.about-containor .about-details .label-detail {
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.about-containor .about-details .label-detail span {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    color: rgba(255, 127, 80, 0.688);
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.about-containor .about-details .label-detail span p {
    color: slategray;
}

.about-containor .label-detail .icon {
    /* border: 0.1px solid rgb(128, 0, 255); */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 10%;
}

.about-containor .label-detail .icon img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.about-containor .label-detail .icon img:hover {
    transition: 0.2s linear;
    transform: scale(1.125);
}

/* Media Queries for Responsiveness */

/* Large tablets and small desktops (max-width: 1024px) */
@media (max-width: 1024px) {
    .about-containor .about-nav {
        height: 200px;
    }

    .about-containor .about-nav span {
        font-size: 1.8rem;
    }

    .about-containor .about-details .label-img img {
        height: 300px;
    }
}

/* Tablets (max-width: 768px) */
@media (max-width: 768px) {
    .about-containor .about-details {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .about-containor .about-details .label-img img {
        height: 280px;
        width: 100%;
        max-width: 350px;
    }

    .about-containor .about-nav {
        height: 180px;
    }

    .about-containor .about-nav span {
        font-size: 1.6rem;
    }

    .about-containor .about-nav p {
        font-size: 1rem;
    }

    .about-containor .label-detail .icon {
        margin-top: 15%;
    }
}

/* Mobile devices (max-width: 480px) */
@media (max-width: 480px) {
    .about-containor {
        padding: 10px;
    }

    .about-containor .about-nav {
        height: 150px;
    }

    .about-containor .about-nav span {
        font-size: 1.4rem;
    }

    .about-containor .about-nav p {
        font-size: 0.9rem;
    }

    .about-containor .about-details .label-img img {
        height: auto;
        width: 90%;
        max-height: 250px;
    }

    .about-containor .label-detail .icon {
        gap: 20px;
        margin-top: 20%;
    }

    .about-containor .label-detail .icon img {
        width: 35px;
        height: 35px;
    }
}