*{
    padding: 0;
    margin: 0;
}
.view-containor{
    /* border: 0.1px solid black; */
    height: 100vh;   
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    gap:  5px;
    padding: 5px;
}
.view-containor .features{
    /* border: 0.1px solid black; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    height: auto;
    gap: 20px;
}
.view-containor .features .key-highlight{
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.505);
    padding: 5px;
    font-weight: bold;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.736);
}
.view-containor .features label{
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* border: 0.1px solid red; */
    color: slategray;
    font-size: 0.9rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.view-containor .features label span{
    color: rgb(205, 169, 90);
    font-weight: bold;
    border-top: 1px solid black;
    font-size: 1rem;
    padding: 2px;
}
.view-containor .full-img{
     /* border: 0.1px solid black; */
     display: flex;
     /* flex-direction: column; */
     justify-content: center;
     align-items: center;
}
.view-containor .full-img img{
mix-blend-mode: multiply;
width: 90%;
height: auto;
}